<p>Current Weather in New York City </p>

<p>Temperature: <%= @weather['main']['temp'] - 273.15 %>°C></p>
<p>Humidity: <%= @weather['main']['humidity'] %> </p>
<p>Wind Speed: <%= @weather['wind']['speed'] * 3.6 %> km/h </p>